body,
main {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}

.rubik-font {
  font-family: 'Rubik', sans-serif;
}

main {
  background-image: url('https://images.unsplash.com/photo-1501820488136-72669149e0d4');
  background-size: cover;
  background-position: center 0%;
  position: relative;
  z-index: 2;
  transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
}

body[data-nav='true'] > main {
  transform: translateY(-50%);
}

nav {
  height: 50vh;
  width: 100%;
  left: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 1;
  overflow-y: auto;
}

#nav-links {
  display: flex;
  gap: clamp(1rem, 2vw, 2rem);
  margin-top: clamp(2rem, 2vw, 3rem);
  padding: 0rem clamp(1rem, 2vw, 2rem);
  transform: translateY(70%) scale(0.9);
  transition: transform 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
}

body[data-nav='true'] > nav > #nav-links {
  transform: translateY(0%) scale(1);
}

#nav-links > .nav-link {
  text-decoration: none;
  transition: all 500ms cubic-bezier(0.13, 0.53, 0.38, 0.97);
}

#nav-links > .nav-link:hover {
  transform: scale(1.01);
}

#nav-links > .nav-link:hover > .nav-link-label::before {
  display: inline-block;
  content: '';
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 0.375rem;
  margin-right: 0.5rem;
  background-color: #fff;
}

#nav-links > .nav-link > .nav-link-label {
  color: white;
  font-size: 1.25rem;
  margin: 0rem;
  text-transform: uppercase;
}

#nav-links > .nav-link > .nav-link-image {
  width: max(20vw, 400px);
  aspect-ratio: 1.8 / 1;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  object-fit: cover;
}

#nav-toggle {
  height: 5rem;
  width: 5rem;
  position: fixed;
  z-index: 3;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  background-color: rgb(182, 142, 113);
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

#nav-toggle:hover {
  transform: translateX(-50%) scale(1.04);
}

#nav-toggle:active {
  transform: translateX(-50%) scale(0.96);
}

body:not([data-nav='true']) > #nav-toggle:hover > .open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body[data-nav='true'] > #nav-toggle > .close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#nav-toggle > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  font-size: 1.75rem;
  color: rgb(246, 232, 224);
  opacity: 0;
  transition: tranform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}
